.top-form{
    -fx-background-color:#fff;
    -fx-border-color:#000;
    -fx-border-width:.4px .4px .2px .4px;
}

.semi-top-form{
    -fx-background-color: #efefef;
    -fx-border-color: #000;
    -fx-border-width: .2px .4px .4px .4px;
}

.close{
-fx-background-color:transparent;
-fx-cursor:hand;
}

.close:hover{
     -fx-background-color: #fb3d63;
}

.minimize{
-fx-background-color:transparent;
-fx-cursor:hand;
}

.minimize:hover{
     -fx-background-color: #ddd;
}

.nav-form{
   -fx-background-color:linear-gradient(to bottom right, #2d658c, #2ca772);
}

.nav-btn{
   -fx-background-color:transparent;
   -fx-cursor:hand;
   -fx-text-fill:#fff;
   -fx-font-size:14px;
   -fx-font-family:"Arial";
   -fx-alignment: CENTER-LEFT;
   -fx-font-weight: bold;
}

.nav-btn:hover{
  -fx-background-color:linear-gradient(to bottom right, #2d658c, #2ca772);
}

.logout{
  -fx-background-color: #2c84bf;
  -fx-background-radius: 10px;
  -fx-cursor:hand;
}

.logout:hover{
  -fx-background-color: #1593e7;
}

.white-bg{
  -fx-background-color: #fff;
  -fx-background-radius: 8px;
}

.shadow{
   -fx-effect:dropshadow(three-pass-box, rgba(0,0,0,0.5), 6,0,0,0);
}

.card{
  -fx-background-color:linear-gradient(to right, #344250, #3c6382);
  -fx-background-radius:4px;
}

.nextBtn{
  -fx-background-radius: 12px;
  -fx-border-radius: 12px;
  -fx-background-color:transparent;
  -fx-border-color:linear-gradient(to bottom right, #2d658c, #2ca772);
  -fx-cursor:hand
}

.nextBtn:hover{
  -fx-background-color:linear-gradient(to bottom right, #2d658c, #2ca772);
}

.search{
  -fx-background-color:#fff;
  -fx-border-color:linear-gradient(to bottom right, #2d658c, #2ca772);
  -fx-border-width:.8px;
  -fx-border-radius:8px;
  -fx-font-family: "Tahoma";
  -fx-font-size: 14px;
  -fx-padding:0px 0px 0px 28px;
}

.left-arrow-button {
    -fx-border-color:linear-gradient(to bottom right, #2d658c, #2ca772);
    -fx-background-color: linear-gradient(to bottom right, #fff, #e7e7e7);
    -fx-shape: "M 0 5 L 10 0 L 10 10 Z";
    -fx-font-size: 14px;
    -fx-cursor:hand
}

.left-arrow-button:hover {
    -fx-border-color:linear-gradient(to bottom right, #2d658c, #2ca772);
    -fx-background-color: linear-gradient(to bottom right, #fff, #bcbcbc);
}

.right-arrow-button {
    -fx-border-color:linear-gradient(to bottom right, #2d658c, #2ca772);
    -fx-background-color: linear-gradient(to bottom left, #fff, #e7e7e7);
    -fx-shape: "M 0 0 L 10 5 L 0 10 Z";
    -fx-font-size: 14px;
    -fx-cursor: hand;
}

.right-arrow-button:hover {
    -fx-border-color:linear-gradient(to bottom right, #2d658c, #2ca772);
    -fx-background-color: linear-gradient(to bottom right, #fff, #bcbcbc);
}


.number{
  -fx-align-content: right;
}

.search:focused{
  -fx-border-color:linear-gradient(to bottom right, #e41111, #eeff00);
  -fx-border-width:1.8px;
}

/*table view modify*/
.table-view{
    -fx-background-color:transparent;
    -fx-padding:0px;
    -fx-border-color:linear-gradient(to bottom right, #2d658c, #2ca772);
    -fx-border-width:2px;
    -fx-border-radius:8px;
}
.table-view .table-column{
    -fx-alignment: CENTER;
}
.table-view .column-header-background{
    -fx-background-color:linear-gradient(to bottom right, #2d658c, #2ca772);
    -fx-background-radius:8px 8px 0px 0px;
    -fx-background-inset: 0 0 0 0;
}
.table-view .column-header, .filter{
    -fx-background-color:transparent;
    -fx-size:40px;
}
.table-view .column-header .label{
    -fx-text-fill:#fff;
    -fx-font-family:"Arial";
}
/*textfield*/
.textfield{
    -fx-background-color:linear-gradient(to bottom, #efefef, #eee);
    -fx-background-radius:4px;
    -fx-border-color:linear-gradient(to bottom right, #2d658c, #2ca772);
    -fx-border-width:.8px;
    -fx-font-family:"Tahoma";
    -fx-border-radius:4px;
}
.textfield:focused{
    -fx-background-color:#fff;
    -fx-border-width:1px;
}

.residentID{
    -fx-background-color:linear-gradient(to bottom, #efefef, #eee);
    -fx-background-radius:4px;
    -fx-border-color:linear-gradient(to bottom right, #2d658c, #2ca772);
    -fx-border-width:.8px;
    -fx-font-family:"Tahoma";
    -fx-border-radius:4px;
}
.residentID:focused{
    -fx-background-color:#fff;
    -fx-border-width:1px;
}
.residentID.text-input. prompt-text{
   -fx-text-fill: #fff;
}

.passwordField{
    -fx-background-color:linear-gradient(to bottom, #efefef, #eee);
    -fx-background-radius:4px;
    -fx-border-color:linear-gradient(to bottom right, #2d658c, #2ca772);
    -fx-border-width:.8px;
    -fx-font-family:"Arial";
    -fx-border-radius:4px;
    -fx-font-size:12px;
}
.passwordField:focused{
    -fx-background-color:linear-gradient(to bottom, #efafef, #eee);
    -fx-border-width:1px;
}


/*button modifying*/
.submit-btn{
    -fx-background-color:#2d5278;
    -fx-background-radius:8px;
    -fx-cursor:hand;
    -fx-text-fill:#fff;
    -fx-font-size:14px;
    -fx-font-family:"Tahoma";
}

.submit-btn:hover{
    -fx-background-color:#2268ae;
}

.delete-btn{
    -fx-background-color:#90242f;
    -fx-background-radius:8px;
    -fx-cursor:hand;
    -fx-text-fill:#fff;
    -fx-font-size:14px;
    -fx-font-family:"Tahoma";
}
.delete-btn:hover{
    -fx-background-color:#c51f32;
}

.clear-btn{
    -fx-background-color:#08995f;
    -fx-background-radius:8px;
    -fx-cursor:hand;
    -fx-text-fill:#fff;
    -fx-font-size:14px;
    -fx-font-family:"Tahoma";
}
.clear-btn:hover{
    -fx-background-color:#0abc6f;
}

.update-btn{
    -fx-background-color:#a560d9;
    -fx-background-radius:8px;
    -fx-cursor:hand;
    -fx-text-fill:#fff;
    -fx-font-size:14px;
    -fx-font-family:Arial, sans-serif;
}
.update-btn:hover{
    -fx-background-color:#b554ff;
}

.sort-btn{
    -fx-background-color: #2d658c;
    -fx-background-radius:8px;
    -fx-cursor:hand;
    -fx-text-fill:#fff;
    -fx-font-size:14px;
    -fx-font-family:"Arial, sans-serif";
}
.sort-btn:hover{
    -fx-background-color: #2ca772;
}
