.left-form{
    -fx-background-color:linear-gradient(to right top,#facd68, #fc76b3);
    -fx-border-color: #000;
    -fx-border-width:.4px 0px .4px;
}

.right-form{
    -fx-background-color:#fff;
    -fx-border-color:#000;
    -fx-border-width:.4px .4px .4px 0px;
}

.close{
-fx-background-color:transparent;
-fx-cursor:hand;
}

.close:hover{
     -fx-background-color: #fb3d63;
}

.login{
  -fx-background-color:linear-gradient(to right top,#facd68, #fc76b3);
  -fx-background-radius:8px;
  -fx-cursor:hand;
}

.login:hover{
  -fx-background-color:linear-gradient(to right top,#ffc037,#ff94c6);
}

.sign-up{
  -fx-background-color: transparent;
  -fx-cursor:hand;
}

.sign-up:hover{
  -fx-background-color:linear-gradient(to right top,#ffc037,#ff94c6);
}

.input-field{
    -fx-background-radius:5px;
    -fx-border-radius:5px;
    -fx-font-size:13px;
    -fx-font-family:"Tahoma";
}
.input-field:focused{
    -fx-border-color:linear-gradient(to right top,#facd68, #fc76b3);
    -fx-border-width:2px 2px 2px 2px;
}

.return{
  -fx-background-color:transparent;
  -fx-cursor:hand;
}
